<div class="row">
    <div class="input-group stticky-element">
        <div class="input-group-prepend pl-2">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1" [(ngModel)]="filterTitle" #ctrl="ngModel">
      </div>

    <div class="card bg-light col-sm-12 col-md-6 col-lg-4" *ngFor="let item of todoList | sortBy: 'id' | filterBy :filterTitle ; let i = index">
        <div class="card-body d-flex align-items-stretch" (click)="select(item)">
          <div class="px-2"><span class="label">{{item.id}}</span></div>
          <div class="px-2"><p>{{item.title}}</p></div>
        </div>
      </div>
</div>




