<ngb-tabset class="sticky-tab">
  <ngb-tab [title]="modes.listdb">
    <ng-template ngbTabContent>
      <app-todo-list [mode]="modes.db" (todoSelected)="obtainTodo($event)"></app-todo-list>
    </ng-template>
  </ngb-tab>
  <ngb-tab [title]="modes.create">
    <ng-template ngbTabContent>
      <app-todo-crud [mode]="modes.create"></app-todo-crud>
    </ng-template>
  </ngb-tab>
  <ngb-tab [title]="modes.edit" [disabled]="flagSelect" >
    <ng-template ngbTabContent>
        <app-todo-crud [mode]="modes.edit" [todo]="todoSel"></app-todo-crud>
    </ng-template>
  </ngb-tab>
  <ngb-tab [title]="modes.delete" [disabled]="flagSelect">
    <ng-template ngbTabContent>
        <app-todo-crud [mode]="modes.delete" [todo]="todoSel"></app-todo-crud>
    </ng-template>
  </ngb-tab>
  <ngb-tab [title]="modes.list">
    <ng-template ngbTabContent>
      <app-todo-list [mode]="modes.service"></app-todo-list>
    </ng-template>
  </ngb-tab>
</ngb-tabset>


<router-outlet></router-outlet>
