<div class="container mt-5">
  <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-12">
      <div class="card bg-light">
          <div class="card-body">
              <form [formGroup]="rsFormGroup" class="form" (ngSubmit)="submit()" validate>

                  <div class="form-group">
                      <label for="">Id</label>
                      <input type="number" class="form-control" formControlName="id" required >
                  </div>

                  <div class="form-group">
                      <label for="">Title</label>
                      <input type="text" class="form-control" formControlName="title" required>
                  </div>

                <div>
                  <button type="submit" class="btn btn-primary" [disabled]="!rsFormGroup.valid">{{ mode }}</button>
                </div>

                </form>
          </div>
          <div class="card-footer">
              {{ message }}
          </div>
      </div>
  </div>

</div>

